

.btn-add{
    padding-top: 20px;
    padding-left: 17px;
   
}
.btn-add span{
    margin-right: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
}
.picture{
    display: flex;
   position: relative;  
   align-items: center;
   margin-bottom: 20px;
}
.picture label{
   margin-right: 150px;
}
.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted 2px #dcdee3;
    width: 400px;
    height: 150px;
}
.text-upload{
    position: relative;
    top : 40%;
    left: -25px;
}
.text-upload:hover{
    color: red;
    cursor: pointer;
}
.name-product{
    margin-right: 180px;
}
.input-name{
    width: 300px;
    outline: none;
    border: solid 1px #dcdee3;
}
.detail-product{
    margin-bottom: 15px;
}
.config{
    display: none;
}
.table-input{
    border: none;
}
#click-if{
    border-bottom: solid 2px;
}
.td-div-img{
    display: flex;   
}
.hover-img{
    display: flex;
    position: relative;
    top:10px;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;

    
}
.hover-icon{
    cursor: pointer;
    margin-right: 20px;
}
.td-div:hover .hover-img{
    visibility: visible;
    top: -20px;
    opacity: 1;
}
.td-div{
    margin-right: 20px ;
}
input[type="file"]{
    display: none;
}
.file-input{
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
border: dotted 2px #dcdee3;
}
.fa-plus{
    cursor: pointer;
}
.file-input:hover{
    background: white;
}
.btn-form{
    height: 30px;
    width: 80px;
    outline: none;
    border: none;
    background: blue;
    color: white;
    font-weight: 600;

}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted 2px #dcdee3;
    margin-bottom: 20px;
}
.btn-banner{
    display: flex;
    justify-content: center;
}
.btn-banner span{
    width: 200px;
    height: 40px;
    border: solid 1px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.btn-banner span:hover{
    background: #dcdee3;
}
.div-4{
    padding-top: 10px;
    display: flex;
    padding-left: 20px;
    justify-content: center;
}
.div-4 .div1{
    padding-right: 50px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;

}
.div1{
    padding: 0px !important;
    margin-right: 40px !important;
}
.div-4 .div1:hover{
    background: #eef0f4;
    cursor: pointer;
}
.btn-update input{
    position: relative;
    left: 50px;
    height: 40px;
    width: 90px;
    border: none;
    outline: none;
    background: blue;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.create-sale{
   
   position: relative;
    display: flex;
    top : 5px;
    cursor: pointer;
    height: 40px;
    width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
    border: none;
    background: blue;
    
}
.create-sale a{
    color: white;
    font-size: 14px;

}
.form1{
    margin-bottom: 10px;
    width: 400px;
}
.form1 input{
    width: 100%;
    outline: none;
    border: solid 1px #dcdee3;
}
.home-picture{
    width: 50px;
}
.table-text{
    position: relative;
   text-align: right;
   right: 20px;
    
}
.table_1{
    position: relative;
}
.table_1::after{
    position: absolute;
    content: " ";
    background: black;
    opacity: 0.1;
    height: 140%;
    width: 1px;
   top: -85px;
   left: 440px;

}
.icon-delete{
    color: red;
}
.logo-admin{
    width: 100px;
}
.form-sale , .btn-sale{
    display: flex;
    justify-content: center;
}
